<tr class="nested-fields">
  <td>
    <%= link_to_remove_association "X", f, class: 'btn btn-danger btn-xs' %>
  </td>
  <td><%= f.input :prodname, label: false %></td>
  <td><%= f.input :qty, label: false%></td>
  
  
  <!-- td><input type="text" value="<%= @words %>" data-reflex="input->Sum#words"></td -->
  <td><%= f.input :rate, label: false %></td>
  <td></td>
  <td><%= @words %></td>
  <td></td>
</tr>