<p id="notice"><%= notice %></p>

<h1>Bills</h1>

<table class = "table">
  <thead>
    <tr>
      <th class="col-3" >Custname</th>
      <th class="col-2" >Billno</th>
      <th class="col-2" >Billdt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.custname %></td>
        <td><%= bill.billno %></td>
        <td><%= bill.billdt %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
