<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body  class='bg-light'>
    <%= render 'layouts/header' %>
    <br/>
    <br/>
    <br/>
    <div class="container  pt-5 pb-5">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
